# متغيرات Cloudflare Pages / Vite
VITE_SUPABASE_URL=https://xisotlcjtaiptabjdocp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhpc290bGNqdGFpcHRhYmpkb2NwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxMzk3OTAsImV4cCI6MjEwNTcxNTc5MH0.o_4Z25L2Spev_XfIsQ_JhA56y3FCyVXpnt-Uzu4fZ1Q
VITE_VAPID_PUBLIC_KEY=BATYGqUB5yIwjvuft9DKZa4LzehADpYBQwdZAUBczczatPu5vfFN00u_h1qHFmmEMWjOWXcXMHBwuqyZN-ABLQQ

